{% extends "base.html.twig" %}

{% block title 'Gérer les Catégories' %}

{% block body %}
<div class="container mt-4">
    <h1>Gestion des catégories</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <th>Nom</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for categorie in categories %}
        <tr>    
            <td>{{ categorie.name }}</td>
            <td>
                <a href="{{ path('admin.categorie.edit', {id: categorie.id}) }}" class="btn btn-secondary">Editer</a>
                <form onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette catégorie ?')" method="post" action="{{ path('admin.categorie.delete', {id: categorie.id}) }}" style="display: inline-block;" >
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('admin.categorie.new') }}" class="btn btn-secondary">Créer une nouvelle catégorie</a>
    </div>
</div>
{% endblock %}