{% extends "base.html.twig" %}

{% block title 'Gérer les Créateurs' %}

{% block body %}
<div class="container mt-4">
    <h1>Gestion des créateurs</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <th>Titre</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for createur in createurs %}
        <tr>    
            <td>{{ createur.title }}</td>
            <td>
                <a href="{{ path('admin.createur.edit', {id: createur.id}) }}" class="btn btn-secondary">Editer</a>
                <form onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce créateur ?')" method="post" action="{{ path('admin.createur.delete', {id: createur.id}) }}" style="display: inline-block;" >
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ createur.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('admin.createur.new') }}" class="btn btn-secondary">Créer un nouveau créateur</a>
    </div>
</div>
{% endblock %}